body{
    box-sizing: border-box;
    min-width: 320Px; 
    margin: 0; 
    background-color:lightgray;
    margin:auto;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #052b38; 
}

.imagem {
    width: 125px;
    height: 100px;
    border: 1px dashed #599bb3;;
    margin: 10px 10px;
}

.main{
    box-sizing: border-box;
    max-width: 310Px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto; 
}
    .main h2{
        text-shadow: 0px 2px 1px #3d768a;
        font-size: 15px;
    }

    .main h3{
        font-size: 15px;
    }


.botoes{
    display:flex; 
    flex-direction:column;
    justify-content: center;
} 

    .btnJogar{
        background-color:#599bb3;
        border-color:#599bb3 ;
        border-radius:8px;
        text-indent:0;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:140px;
        text-decoration:none;
        text-align:center;
        text-shadow:0px 1px 0px #3d768a;
        margin-bottom: 10px;
        cursor:pointer;
        
    }


    .btnReset{
        background-color:#599bb3;
        border-color:#599bb3 ;
        border-radius:8px;
        text-indent:0;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:140px;
        text-decoration:none;
        text-align:center;
        text-shadow:0px 1px 0px #3d768a;
        margin-left:0; 
        cursor:pointer;
    }

.resultados{
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0px 1px 0px #3d768a;
    text-align: center;
}

.imagens_geradas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

​@media screen and (min-width: 600px) {}

    
  
@media screen and (min-width: 768px) {
    body{
        box-sizing: border-box;
        min-width: 768Px; 
        margin: 0; 
        background-color:lightgray;
        margin:auto; 
        font-family: Georgia, 'Times New Roman', Times, serif; 
    }
    
    .imagem {
        width: 200px;
        height: 160px;
        border: 3px dashed #599bb3;
        margin: 15px;
    }
    
    .main{
        box-sizing: border-box;
        max-width: 700Px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 0 auto; 
    }
        .main h2{
            text-shadow: 0px 4px 1px #3d768a;
            font-size: 30px;
        }
    
        
    .botoes{
        display:flex; 
        flex-direction:row;
        justify-content: center;
    } 
        .btnJogar{
            background-color:#599bb3;
            border-color:#599bb3 ;
            border-radius:8px;
            text-indent:0;
            display:inline-block;
            color:#ffffff;
            font-family:arial;
            font-size:15px;
            font-weight:bold;
            font-style:normal;
            height:50px;
            line-height:50px;
            width:140px;
            text-decoration:none;
            text-align:center;
            text-shadow:0px 1px 0px #3d768a;
            margin-bottom: 0px;
            cursor:pointer; 
        }

        .btnReset{
            background-color:#599bb3;
            border-color:#599bb3 ;
            border-radius:8px;
            text-indent:0;
            display:inline-block;
            color:#ffffff;
            font-family:arial;
            font-size:15px;
            font-weight:bold;
            font-style:normal;
            height:50px;
            line-height:50px;
            width:140px;
            text-decoration:none;
            text-align:center;
            text-shadow:0px 1px 0px #3d768a;
            margin-left:15px; 
            cursor:pointer;
        }
    
    .resultados{
        font-size: 30px;
        font-weight: bold;
        text-shadow: 0px 1px 0px #3d768a;
        text-align: center;
    }
    
    .imagens_geradas{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} 
